.display-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Menu */
header {
  max-width: 1500px;
  width: 100%;
  height: 400px;
  background-color: var(--secoundary-color);
  padding: 69px 26px 50px 26px;
  color: var(--primary-color);
}
header span {
  font-size: 20px;
}
header h1 {
  font-size: 40px;
  margin: 0 0 12px 0;
}
header p {
  font-size: 14px;
  margin: 12px 0 50px 0;
}
.menu {
  max-width: 769px;
  width: 100%;
}
.menu ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu ul li a {
  display: flex;
  padding: 9px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  width: 160px;
  height: 40px;
  background-color: var(--primary-color);
  color: var(--third-color);
  border: 1px solid var(--secoundary-color);
  border-radius: 4px;
  transition: all 0.5s;
}
.menu ul li a:hover {
  background-color: var(--secoundary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* Primeira section, com as informações */
.info-container {
  display: flex;
  width: 100%;
}
.info-container .info {
  width: 55%;
  margin: 15px 10px;
  padding: 10px;
}
.info-container .info span {
  font-size: 20px;
}
.info-container .info p {
  font-size: 12px;
  margin: 40px 0 15px 0;
}
.form-info {
  width: 45%;
  margin: 8px 10px;
  padding: 10px;
}
.form-info form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-info form label {
  margin: 10px 0;
  font-size: 12px;
}
.form-info form input {
  width: 100%;
  padding: 6px;
  margin: 3px 0;
  border: 1px solid var(--secoundary-color);
}
.form-info .radio-container {
  display: flex;
}
.form-info .radio-container label {
  margin-right: 20px;
  align-items: center;
}
.form-info .radio-container label input {
  width: auto;
  margin: 0;
}
.button {
  background-color: var(--primary-color);
  border: 1px solid var(--secoundary-color);
  border-radius: 4px;
  padding: 8px;
  color: var(--third-color);
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
}
.button:hover {
  background-color: var(--third-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn {
  max-width: 200px;
  width: 100%;
  height: 30px;
  padding: 0;
}
/* Divisão */
.row {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}
.row span {
  width: 36%;
  height: 1px;
  background-color: var(--secoundary-color);
}
.row p {
  color: var(--secoundary-color);
  margin: 0 5px;
  font-size: 18px;
}
.p-70 {
  padding-top: 70px;
}
/* Cards */
.container-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.container-cards .card {
  min-width: 200px;
  width: 24%;
  padding: 22px 20px;
  display: flex;
  flex-direction: column;
}
.container-cards .card .container-img {
  border: 1px solid var(--third-color);
  width: 100%;
  height: 150px;
  padding: 6px;
}
.container-cards .card .container-img img {
  width: 100%;
  height: 100%;
}
.container-cards .card h4 {
  font-size: 14px;
  font-weight: 400;
  margin: 14px 0 10px 0;
}
.container-cards .card p {
  font-size: 12px;
}
.container-cards .card span {
  font-size: 12px;
  margin: 8px 0 6px 0;
}
.container-cards .card span:nth-last-child(3) {
  font-size: 16px;
  font-weight: 700;
}

/* Formulário para convidar amigo */
.invite-container {
  color: var(--third-color);
  margin: 40px 0 71px 0;
  width: 100%;
}
.invite-container p {
  margin: 0 0 20px 0;
  font-size: 14px;
  text-align: center;
}
.invite-container form {
  margin-top: 19px;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}
.invite-container form label {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 20px;
  margin-bottom: 25px;
  font-size: 12px;
}
.invite-container form label input {
  border: 1px solid var(--third-color);
  width: 100%;
  padding: 6px;
  margin-top: 6px;
}
.invite-container form button {
  padding: 11px 85px;
  margin-top: 25px;
}

footer {
  background-color: var(--secoundary-color);
  max-width: 1500px;
  width: 100%;
  height: 293px;
  padding: 70px 0;
  color: var(--primary-color);
}
footer p {
  font-size: 12px;
}

/* Responsividade */
@media (max-width: 425px) {
  header .display-center {
    align-items: flex-start;
  }
  .menu ul {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu ul li {
    margin: 5px 8px;
  }
  .info-container {
    display: block;
  }
  .info-container .info {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .form-info {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .row span {
    width: 26%;
    height: 1px;
    background-color: var(--secoundary-color);
  }
  .row {
    margin: 70px 0 30px;
  }
  .container-cards .card {
    min-width: 200px;
    width: 100%;
    padding: 22px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .container-cards .card .container-img {
    border: 1px solid var(--third-color);
    width: 50%;
    height: 150px;
    padding: 6px;
    margin: 5px;
  }
  .container-price {
    width: 50%;
    margin: 5px;
  }
  .container-cards .container-price h4 {
    margin: 0 0 14px;
  }
  .container-cards .container-price p {
    margin: 5px;
  }
  .invite-container {
    padding: 10px;
  }
  .invite-container form {
    margin-top: 19px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .invite-container form label {
    display: flex;
    width: 100%;
    padding: 0;
    margin-bottom: 25px;
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .menu ul li {
    margin: 3px 5px;
  }
  .menu ul li a {
    width: 150px;
    height: 40px;
  }
  .row span {
    width: 20%;
  }
  .container-price {
    width: 50%;
    margin: 5px;
    font
  }
  .container-cards .container-price h4 {
    margin: 0 0 8px;
    font-size: 13px;
  }
  .container-cards .container-price p {
    margin: 3px;
    font-size: 11px;
  }
}
@media (max-width: 320px) {
  .menu ul li {
    margin: 3px 3px;
  }
  .menu ul li a {
    width: 120px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    padding: 10px;
  }
  .row span {
    width: 20%;
  }
  .container-price {
    width: 50%;
    margin: 5px;
  }
  .container-cards .container-price h4 {
    margin: 0 0 8px;
    font-size: 13px;
  }
  .container-cards .container-price p {
    margin: 3px;
    font-size: 10px;
  }
  .row span {
    width: 18%;
  }
}